[Unit]
Description=frontend service
After=network.target

[Service]
Type=exec

User={{frontend_user}}

ExecStart=http-server {{frontend_files_path}}/ -p {{port1}} --proxy {{proxy_server}}:{{port2}}

[Install]
WantedBy=multi-user.target
