[Resolve]
DNS={{DNS}}
FallbackDNS={{FallbackDNS}}
#DNS=
#FallbackDNS=
#Domains=
#LLMNR=no
#MulticastDNS=no
#DNSSEC=no
#DNSOverTLS=no
#Cache=no-negative
#DNSStubListener=yes
#ReadEtcHosts=yes
#hellomazafaka
